@{
    ViewData["Title"] = "Home Page";
}
@inject APIAuthorization auth
@inject ApplicationDbContext db

<div class="text-center">
    <h1 class="display-4"> Новости </h1>
</div>

<ul class="list-group">
    @foreach (var p in db.News)
    {
        <li class="list-group-item">
            <small>@p.Time.ToShortTimeString()</small>
            <h3>@p.Title</h3>
            <p>@p.Description</p>
            <a href="@p.Href">@p.Href</a>
        </li>
    }
     
</ul>